<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/css/consumable.css" type="text/css">
    <title>차 부품 정보</title>
</head>
<body>
    <h1>차 부품 정보</h1>
    <table class="tg" style="table-layout: fixed; width: 536px;">
        <colgroup>
            <col style="width: 165px">
            <col style="width: 183px">
            <col style="width: 188px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-0pky">부품 명</th>
                <th class="tg-baqh">교체한 날짜/주행거리</th>
                <th class="tg-baqh">교체할 날짜/주행거리</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0lax">엔진 오일</td>
                <td class="tg-baqh"><span th:text="${consumable.engineOil}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.engineOil}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">브레이크 오일</td>
                <td class="tg-baqh"><span th:text="${consumable.breakOil}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.breakOil}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">브레이크 패드</td>
                <td class="tg-baqh"><span th:text="${consumable.breakPad}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.breakPad}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">와이퍼</td>
                <td class="tg-baqh"><span th:text="${consumable.wiper}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.wiper}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">타이어</td>
                <td class="tg-baqh"><span th:text="${consumable.tire}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.tire}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">에어컨 필터</td>
                <td class="tg-baqh"><span th:text="${consumable.airConFilter}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.airConFilter}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">스파크 플러그</td>
                <td class="tg-baqh"><span th:text="${consumable.sparkPlug}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.sparkPlug}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">배터리</td>
                <td class="tg-baqh"><span th:text="${consumable.battery}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.battery}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">냉각수</td>
                <td class="tg-baqh"><span th:text="${consumable.coolingWater}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.coolingWater}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">트랜스미션 오일</td>
                <td class="tg-baqh"><span th:text="${consumable.transmissionOil}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.transmissionOil}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">파워 스티어링 오일</td>
                <td class="tg-baqh"><span th:text="${consumable.powerSteeringOil}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.powerSteeringOil}"></span></td>
            </tr>
            <tr>
                <td class="tg-0lax">유체 클러치</td>
                <td class="tg-baqh"><span th:text="${consumable.fluidClutch}"></span></td>
                <td class="tg-baqh"><span th:text="${changed.fluidClutch}"></span></td>
            </tr>
        </tbody>
    </table>


<!-- Script -->
</body>
</html>