<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohmycar.mapper.BoardMapper">

	<resultMap id="boardResultMap"
		type="com.ohmycar.domain.BoardVO">
		<id property="bno" column="bno" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
		<result property="regdate" column="regdate" />
		<result property="updateDate" column="updateDate" />
	</resultMap> 

	<select id="getAllPosts" resultMap="boardResultMap">
		select * from tbl_board
	</select>

	<insert id="write" parameterType="com.ohmycar.domain.BoardVO">
		INSERT INTO tbl_board (bno, title, content, writer)
		VALUES (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>

	<!-- 기타 필요한 쿼리들 -->
	<!-- BoardVO 클래스의 별칭 설정 -->
	<!-- <typeAlias type="com.ohmycar.domain.BoardVO" alias="BoardVO" /> -->

	<!-- <update id="updatePost" parameterType="BoardVO"> UPDATE tbl_board SET 
		title = #{title}, content = #{content}, writer = #{writer}, updateDate = 
		SYSDATE WHERE bno = #{bno} </update> -->
</mapper>
