<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohmycar.mapper.CarMapper">

	<select id="getCarByUserId"
		resultType="com.ohmycar.domain.CarVO">
		SELECT * FROM car_tbl WHERE userid = #{userId}
	</select>




	<update id="updateCar" parameterType="com.ohmycar.domain.CarVO">
		UPDATE car_tbl
		SET
		carid = #{carId},
		carsellname = #{carSellName},
		carname = #{carName},
		cartype = #{carType}
		WHERE userid= #{userId}
	</update>


</mapper>
