<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">

<div th:fragment="head">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../../resources/css/includes.css">
	<link rel="stylesheet" href="../../../resources/css/common.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
</div>

<div th:fragment="header" id="headerWrap">
	<a id="logoImg" href="/"><img src="../../../resources/img/logo_dark.png" style="height: 175px" alt="앗차차 로고"></a>
	<ul>
		<li sec:authorize="isAuthenticated()" style="font-size:18px;">[[${userVO.userName}]]님, 안녕하세요!</li>
		<li sec:authorize="isAuthenticated()">
			<form action="/logout" method='post'>
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<button id="headerBtn_logout">로그아웃</button>
			</form>
		</li>
		<li sec:authorize="isAuthenticated()"><a href="/user/mypage"><button class="headerBtn">마이페이지</button></a></li>
		<li sec:authorize="isAnonymous()"><a href="/user/login"><button class="headerBtn">로그인</button></a></li>
		<li sec:authorize="isAnonymous()"><a href="/user/join"><button class="headerBtn">회원가입</button></a></li>
		<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/user/admin"><button class="headerBtn">관리자페이지</button></a>
		</li>
	</ul>
</div>
<!-- TODO security 안되는거 해결해라 -->

</html>